.wrapper {
  display: flex;
  gap: 24px;
}
.container {
  display: flex;
}
.photoWrap {
  /* width: 290px;
  height: 310px; */
}
.photo {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}
.li {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.priceHeart {
  display: flex;
  gap: 6px;
}
.rating {
  text-decoration: underline;
}
.price,
.camperName {
  font-size: 24px;
}
.ratingLocation {
  display: flex;
  gap: 2px;
}
.description {
  font-size: 16px;
}
.ratingLocation p {
  margin-right: 8px;
}
.heartBtn {
  color: transparent;
  transition: transform var(--animation-duration) var(--animation-time-function);
}
.heartBtn:hover,
.heartBtn:focus {
  transform: scale(1.15);
}
.featuresWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.showMoreBtn {
  background-color: var(--red);
  color: var(--white);
  padding: 16px 40px;
  border-radius: 30px;
  width: 200px;
  font-size: 16px;
  transition: transform var(--animation-duration) var(--animation-time-function);
}

.showMoreBtn:hover,
.showMoreBtn:focus {
  background-color: var(--red-hover);
  transform: scale(1.1);
}

.icon {
  fill: currentColor;
}
