.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.photoWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.photo {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.rating {
  text-decoration: underline;
  font-size: 16px;
}
.price,
.camperName {
  font-size: 24px;
}
.ratingLocation {
  display: flex;
  gap: 2px;
}

.ratingLocation p {
  margin-right: 8px;
}
